@use "~@wordpress/base-styles/colors.native" as colors;

#customer-data-swift-provider-openrc-loader {
	float: right;

	input[type="file"] {
		border: 1px solid #ccc;
		padding: 10px 20px;

		&::file-selector-button {
			display: none;
		}
	}
}

#customer-data-temp-keys-list,
#customer-data-key-management-list {

	th {
		// restore expected padding
		padding: 8px 10px;
	}

	.column-selector {
		width: min-content;
	}
}

.customer-data-secret {
	display: flex;
	flex-direction: row;
	gap: 2px;
	align-items: center;

	&:not(:hover) .value {
		display: none;
	}

	&:hover {

		.placeholder {
			display: none;
		}
	}

	.placeholder,
	.value {

		&:not(.dashicons) {
			overflow: auto;
		}
	}
}

.customer-data-hidden {
	display: none;
}

.updated input,
.updated select {
	border-color: colors.$alert-green;
}

.updated {
	animation: FadeOut 9s ease-in-out;
}

@keyframes FadeOut {

	from {
		background-color: colors.$alert-green;
	}

	to {
		background-color: initial;
	}
}
